@page "/"

<PageTitle>Home</PageTitle>

<h1 class="gold-theme">Welcome To Void Weather Systems</h1>

<div class="gold-theme">
	Needing accurate location based weather prediction . We here at Void Weather systems can provide that in simple and concise format without hassel
</div>
