/* Main container for search bar and button */
.search-container {
    display: flex;
    align-items: center;
    gap: 0; 
}

/* Search input field styles */
.search-input {
    flex-grow: 1; 
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 10px 20px;
}

/* Form overall styling */
form {
    display: block;
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
    max-width: 800px;
    margin: auto;
}

/* Dropdown container */
.dropdown-container {
    margin-bottom: 1rem;
}

/* Dropdown */
.dropdown {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    color: #ffd700;
    border: 1px solid #ff6a00;
    background-color: #000;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(128, 0, 128, 0.4);
    outline: none;
}

/* Input field and labels */
.form-control {
    background-color: #000;
    color: #ffd700;
    border: 2px solid #ffd700;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(128, 0, 128, 0.4);
    transition: all 0.3s ease;
}

    .form-control:focus {
        background-color: #111;
        box-shadow: 0 6px 15px rgba(128, 0, 128, 0.6);
        outline: none;
        color: #ffd700;
        border-color: #800080;
    }

/* Labels */
.form-label {
    color: #ffd700;
    font-size: 16px;
    font-weight: bold;
}

/* Error message */
.error-message {
    color: red;
    font-size: 0.85rem;
    margin-top: 0.5rem;
}
